<!-- <span class="created-by">
    Created with ♥ by <b><a href="https://akveo.page.link/8V2f" target="_blank">Akveo</a></b> 2019
</span>
<div class="socials">
    <a href="#" target="_blank" class="ion ion-social-github"></a>
    <a href="#" target="_blank" class="ion ion-social-facebook"></a>
    <a href="#" target="_blank" class="ion ion-social-twitter"></a>
    <a href="#" target="_blank" class="ion ion-social-linkedin"></a>
</div> -->

<div class="row" style="width: 100%; margin-left: unset;">
    <div class="col-3" style="text-align: center;">
        <a [routerLink]="['./menu']" routerLinkActive="active"><nb-icon icon="clipboard-outline"></nb-icon>        
            <br>
            <span>Menù</span>
        </a>
    </div>
    <div class="col-3" style="text-align: center;">
        <a><nb-icon icon="heart-outline"></nb-icon>
            <br>
            <span>Preferiti</span>
        </a>
    </div>
    <div class="col-3" style="text-align: center;">
        <a><nb-icon icon="shopping-cart-outline"></nb-icon>
            <br>
            <span>Carrello</span>
        </a>
    </div>
    <div class="col-3" style="text-align: center;">
        <a><nb-icon icon="question-mark-circle-outline"></nb-icon>
            <br>
            <span>Aiuto</span>
        </a>
    </div>
</div>
<!-- <div class="row" style="width: 100%;">
    <div class="col" style="text-align: center;">
        Menu
    </div>
    <div class="col" style="text-align: center;">
        Menu
    </div>
    <div class="col" style="text-align: center;">
        Menu
    </div>
    <div class="col" style="text-align: center;">
        Menu
    </div>
</div> -->
