<nb-card>
    <nb-card-body>
        <h5 style="position: absolute;">Bruschetta</h5>
        <button nbButton (click)="close()" style="right: 0;
        background-color: white;
        position: absolute;
        border-radius: 10%;
        border-bottom-left-radius: 50%;
        box-shadow: 2px 2px 6px 0px rgb(0 0 0 / 30%);" ghost status="danger">
            <nb-icon icon="close-outline"></nb-icon>
        </button>
        <img src="assets/piatti/bruschetta.jpg">
        <div class="desc" style="text-align: center; margin: 0.5rem;">
            <span>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, excepturi?
            </span>
        </div>
        <!-- <hr> -->
        <!-- <div class="ingredients" style="height: 20vh; overflow: scroll;">
            <nb-accordion>
                <nb-accordion-item>
                 <nb-accordion-item-header>Seleziona Ingredienti</nb-accordion-item-header>
                 <nb-accordion-item-body>
                    <div class="row">
                        <nb-checkbox disabled [checked]="true">Pane Casereccio</nb-checkbox>
                    </div>
                    <div class="row">
                        <nb-checkbox [checked]="true">Basilico</nb-checkbox>
                    </div>            
                    <div class="row">
                        <nb-checkbox [checked]="true">Olio</nb-checkbox>
                    </div>
                    <div class="row">
                        <nb-checkbox [checked]="true">Pepe Nero</nb-checkbox>
                    </div>
                    <div class="row">
                        <nb-checkbox [checked]="true">Pomodori</nb-checkbox>
                    </div>
                    <div class="row">
                        <nb-checkbox [checked]="true">Olio</nb-checkbox>
                    </div>
                    <div class="row">
                        <nb-checkbox [checked]="true">Sale Fino</nb-checkbox>
                    </div>        
                </nb-accordion-item-body>
                </nb-accordion-item>
               </nb-accordion>
        </div> -->
        <hr>
        <div class="ingredients">
            <nb-card style="border: 0;">
                <nb-card-body>
                  <nb-stepper orientation="horizontal">
                    <nb-step label="Ingredienti">
                      <ng-template #labelOne>First step</ng-template>
                      <!-- <h4>Step content #1</h4> -->
                        <div class="row" style="margin:unset;">
                          <div class="col" style="margin: auto;">
                            <nb-checkbox disabled [checked]="true">Pane Casereccio</nb-checkbox>
                          </div>
                          <div class="col" style="margin: auto;">
                            <nb-checkbox [checked]="true">Basilico</nb-checkbox>
                          </div>
                        </div>
                        <div class="row" style="margin:unset;">
                            <div class="col" style="margin: auto;">
                              <nb-checkbox [checked]="true">Olio</nb-checkbox>
                            </div>
                            <div class="col" style="margin: auto;">
                              <nb-checkbox [checked]="true">Pomodori</nb-checkbox>
                            </div>
                          </div>                        
                          <div class="row" style="margin:unset;">
                            <div class="col" style="margin: auto;">
                              <nb-checkbox [checked]="true">Pepe Nero</nb-checkbox>
                            </div>
                            <div class="col" style="margin: auto;">
                              <nb-checkbox [checked]="true">Sale Fino</nb-checkbox>
                            </div>
                          </div>
                      <hr>
                      <div class="btns" style="text-align: center;">
                        <button nbButton nbStepperPrevious>prev</button>
                        <button nbButton nbStepperNext>next</button>
                      </div>
                    </nb-step>
                    <nb-step label="Note">
                      <ng-template #labelTwo>Second step</ng-template>
                      <!-- <h4>Step content #2</h4> -->
                      <div class="note">
                        <textarea nbInput fullWidth placeholder="Inserire Note..." style="resize: none;"></textarea>
                      </div>
                      <hr>
                      <div class="btns" style="text-align: center;">
                        <button nbButton nbStepperPrevious>prev</button>
                        <button nbButton nbStepperNext>next</button>
                      </div>
                    </nb-step>
                    <nb-step label="Conferma">
                      <!-- <h4>Step content #3</h4> -->
                      <div class="quantity" style="text-align: center;">
                        <div class="plusminus horiz">
                            <button disabled></button>
                            <input type="number" name="productQty" value="1" min="1" max="10">
                            <button></button>
                        </div>
                    </div>
                    <hr>
                    <div class="atc" style="text-align: center;">
                        <button nbButton nbStepperPrevious>prev</button>
                        <button nbButton hero size="small" status="success">Aggiungi al carrello</button>
                    </div>
                      <!-- <button nbButton disabled nbStepperNext>next</button> -->
                    </nb-step>
                  </nb-stepper>
                </nb-card-body>
              </nb-card>
        </div>
        <!-- <hr>
        <div class="note" style="margin:1rem;">
            <textarea nbInput fullWidth placeholder="Inserire Note..."></textarea>
        </div>
        <hr>
        <div class="quantity" style="text-align: center;">
            <div class="plusminus horiz">
                <button disabled></button>
                <input type="number" name="productQty" value="1" min="1" max="10">
                <button></button>
            </div>
        </div>
        <div class="atc">
            <button nbButton style="display: flex; margin: 1rem auto;" hero status="success">Aggiungi al carrello ($3)</button>
        </div> -->
    </nb-card-body>
</nb-card>