<!-- <div class="search-bar">
  <input type="text" nbInput fullWidth status="basic" placeholder="Default">
</div>
<div class="menu-container">
  <div class="row">
    <div class="col">
      <nb-card>
        <nb-card-body style="padding: unset;">
          <div class="row">
            <div class="col-md-6">
              <img src="assets/piatti/carbonara.jpg" width="200px" height="200px" />
            </div>
            <div class="col-md-6">
              <h5>Carbonara</h5>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col">
      <nb-card>
        <nb-card-body>
          Card
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <nb-card>
        <nb-card-body>
          Card
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col">
      <nb-card>
        <nb-card-body>
          Card
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div> -->
<div class="title">
  <h2>Menù</h2>
</div>
<hr>
<div class="search-bar">
  <input type="text" nbInput fullWidth status="basic" placeholder="Cerca un piatto">
</div>
<div class="filter-bar" style="text-align: center;">
  <div class="scrolling-wrapper">
    <button nbButton hero outline shape="round" size="small" status="basic">Antipasti</button>
    <button nbButton hero outline shape="round" size="small" status="basic">Primi</button>
    <button nbButton hero outline shape="round" size="small" status="basic">Secondi</button>
    <button nbButton hero outline shape="round" size="small" status="basic">Bevande</button>
    <button nbButton hero outline shape="round" size="small" status="basic">Vini</button>
    <button nbButton hero outline shape="round" size="small" status="basic">Dessert</button>
  </div>
</div>
<div class="items" style="margin-top: 1rem;">
  <div class="row" style="margin: unset;">
    <div class="col-md-6" style="padding: unset;">
      <nb-card style="box-shadow: 0 0.5rem 1rem 0 #2c33491a;">
        <div class="row" style="margin: unset;">
          <div class="col-6" style="padding: unset;">
            <img src="assets/piatti/carbonara.jpg" routerLink="../item/186" class="card-img-top" alt="Menu Item">
          </div>
          <div class="col-6" style="padding: 0.5rem; text-align: center;">
            <b style="font-size: 14px;">Carbonara</b>
            <br>
            <div class="review">
              ★★★★★
            </div>
            <div class="price">
              <b style="color:green">€12</b>
            </div>
            <button nbButton
              style="margin-top: 0.5rem; position: absolute; bottom: 0; right: 0; border-top-left-radius: 50%;"
              status="success">
              <nb-icon icon="shopping-cart-outline"></nb-icon>
            </button>
          </div>
        </div>
      </nb-card>
    </div>
    <div class="col-md-6" style="padding: unset;">
      <nb-card style="box-shadow: 0 0.5rem 1rem 0 #2c33491a;">
        <div class="row" style="margin: unset;">
          <div class="col-6" style="padding: unset;">
            <img src="assets/piatti/amatriciana.jpg" routerLink="../item/186" class="card-img-top" alt="Menu Item">
          </div>
          <div class="col-6" style="padding: 0.5rem; text-align: center;">
            <b style="font-size: 14px;">Amatriciana</b>
            <br>
            <div class="review">
              ★★★★
            </div>
            <div class="price">
              <b style="color:green">€11</b>
            </div>
            <button nbButton
              style="margin-top: 0.5rem; position: absolute; bottom: 0; right: 0; border-top-left-radius: 50%;"
              status="success">
              <nb-icon icon="shopping-cart-outline"></nb-icon>
            </button>
          </div>
        </div>
      </nb-card>
    </div>
  </div>
</div>

<!-- <div class="items">
  <div class="row" style="margin: unset;">
    <div class="col-md-6">
      <nb-card style="width:100%; box-shadow: 0 0.5rem 1rem 0 #2c33491a;">
        <div class="row" style="margin:unset;">
          <div class="col-6" style="padding: unset;">
            <img src="assets/piatti/carbonara.jpg" routerLink="../item/186" class="img-fluid" alt="Menu Item">
          </div>
          <div class="col-6" style="padding: 10px 10px;">
            <div class="content-part-3-right-h4" routerLink="../item/186">
              <b>Amatriciana</b>
            </div>
            <div class="row" style="margin-top: 0.5rem; margin: unset;">
              <div class="col-7" style="padding: unset;">
                <div class="review">
                  ★★★★★
                </div>
              </div>
              <div class="col-5" style="padding: unset;">
                <div class="time item-control">
                  <nb-icon style="font-size:1rem;" icon="clock-outline"></nb-icon>
                  <span>25min.</span>
                </div>
              </div>
            </div>
            <div class="row" style="margin-top: 0.5rem; margin: unset; position: absolute; bottom: 5px;">
              <b style="color:green">€12</b>
            </div>
            <button nbButton style="margin-top: 0.5rem; position: absolute; bottom: 0; right: 0;" status="success">
              <nb-icon icon="shopping-cart-outline"></nb-icon>
            </button>
          </div>
        </div>
      </nb-card>
    </div>
    <div class="col-md-6">
      <nb-card style="width:100%; box-shadow: 0 0.5rem 1rem 0 #2c33491a;">
        <div class="row" style="margin:unset;">
          <div class="col-6" style="padding: unset;">
            <img src="assets/piatti/carbonara.jpg" routerLink="../item/186" class="img-fluid" alt="Menu Item">
          </div>
          <div class="col-6" style="padding: 10px 10px;">
            <div class="content-part-3-right-h4" routerLink="../item/186">
              <b style="word-wrap: break-word;">Amatricianaaaaaaaaaaaaaaaaaaa</b>
            </div>
            <div class="row" style="margin-top: 0.5rem; margin: unset;">
                <div class="review item-control-star">
                  ★★★★★
                </div>
            </div>
            <div class="row" style="margin: unset;">
              <div class="time item-control">
                <nb-icon style="font-size:1rem;" icon="clock-outline"></nb-icon>
                <span>25min.</span>
              </div>
            </div>
            <div class="row" style="margin-top: 0.5rem; margin: unset; position: absolute; bottom: 5px;">
              <div class="col-6" style="padding: unset;">
                <b style="color:green">€12</b>
              </div>
              <div class="col-6" style="padding: unset;">
                <button nbButton style="margin-top: 0.5rem; position: absolute; bottom: 0; right: 0;" status="success">
                  <nb-icon icon="shopping-cart-outline"></nb-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </nb-card>
    </div>
  </div>
</div> -->

<!-- <div class="items" style="margin-top: 2rem;">
  <div class="row">
    <div class="col-6">
      <nb-card style="border-radius: 15%;    box-shadow: 0 0.5rem 1rem 0 #2c33491a;      ">
        <div class="preferiti">
          <nb-icon style="font-size: 1.7rem;" icon="heart-outline"></nb-icon>
        </div>
        <img src="assets/piatti/carbonara.jpg" routerLink="../item/186" class="img-fluid" alt="Menu Item">
        <div class="content-part-3-right-h4" routerLink="../item/186" style="text-align: center;">
          <h5>Carbonara</h5>
        </div>
        <div class="row" style="text-align: center;">
          <div class="col">
            <div class="time">
              25min.
            </div>
          </div>
          <div class="col">
            <div class="review">
              ★4.9
            </div>
          </div>
        </div>
        <b style="color:green; text-align: center;">€12</b>
        <button nbButton status="success">Aggiungi al carrello</button>
      </nb-card>
    </div>
    <div class="col-6">
      <nb-card style="box-shadow: 0 0.5rem 1rem 0 #2c33491a;">
        <div class="preferiti">
          <nb-icon style="font-size: 1.7rem;" icon="heart-outline"></nb-icon>
        </div>
        <img src="assets/piatti/amatriciana.jpg" height="93px" routerLink="../item/186" class="img-fluid"
          alt="Menu Item">
        <div class="content-part-3-right-h4" routerLink="../item/186" style="text-align: center; margin-top: 0.5rem;">
          <b>Amatriciana</b>
        </div>
        <div class="row" style="margin-top: 0.5rem;">
          <div class="col-7">
            <div class="time">
              <nb-icon style="font-size:1rem;" icon="clock-outline"></nb-icon>
              <span>25min.</span>
            </div>
          </div>
          <div class="col-5">
            <div class="review">
              ★4.7
            </div>
          </div>
        </div>
        <button nbButton style="margin-top: 0.5rem;" status="success">
          <nb-icon icon="shopping-cart-outline"></nb-icon>€11
        </button>
      </nb-card>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <nb-card style="box-shadow: 0 0.5rem 1rem 0 #2c33491a;">
        <div class="preferiti">
          <nb-icon style="font-size: 1.7rem;" icon="heart-outline"></nb-icon>
        </div>
        <img src="assets/piatti/cacio-pepe.jpg" height="93px" routerLink="../item/186" class="img-fluid"
          alt="Menu Item">
        <div class="content-part-3-right-h4" routerLink="../item/186" style="text-align: center; margin-top: 0.5rem;">
          <b>Cacio e Pepe</b>
        </div>
        <div class="row" style="margin-top: 0.5rem;">
          <div class="col-7">
            <div class="time">
              <nb-icon style="font-size:1rem;" icon="clock-outline"></nb-icon>
              <span>25min.</span>
            </div>
          </div>
          <div class="col-5">
            <div class="review">
              ★4.9
            </div>
          </div>
        </div>
        <button fullWidth nbButton style="margin-top: 1.5rem;" status="success">
          <nb-icon icon="shopping-cart-outline"></nb-icon>€12
        </button>
      </nb-card>
    </div>
    <div class="col-6">
      <nb-card style="box-shadow: 0 0.5rem 1rem 0 #2c33491a;">
        <div class="preferiti">
          <nb-icon style="font-size: 1.7rem;" icon="heart-outline"></nb-icon>
        </div>
        <img src="assets/piatti/vongole.jpg" height="93px" routerLink="../item/186" class="img-fluid" alt="Menu Item">
        <div class="content-part-3-right-h4" routerLink="../item/186" style="text-align: center; margin-top: 0.5rem;">
          <b>Spaghetti alle vongole</b>
        </div>
        <div class="row" style="margin-top: 0.5rem;">
          <div class="col-7">
            <div class="time">
              <nb-icon style="font-size:1rem;" icon="clock-outline"></nb-icon>
              <span>25min.</span>
            </div>
          </div>
          <div class="col-5">
            <div class="review">
              ★4.7
            </div>
          </div>
        </div>
        <button fullWidth nbButton style="margin-top: 1.5rem;" status="success">
          <nb-icon icon="shopping-cart-outline"></nb-icon>€11
        </button>
      </nb-card>
    </div>
  </div>
</div> -->
<!-- <div class="row">
	<div class="content-part-3">
        <div class="col-md-6 col-sm-12 col-xs-12">
        	<div class="row content-part-3-inner">
                <div class="col-md-5 col-sm-5 col-xs-12" align="center">
                  <div class="preferiti">
                    <nb-icon style="font-size: 1.7rem;" icon="heart-outline"></nb-icon>
                  </div>
                    <img src="assets/piatti/carbonara.jpg" routerLink="../item/186" class="img-responsive img" alt="Menu Item">
                </div>
                <div class="col-md-7 col-sm-7 col-xs-12">
                    <div class="content-part-3-right-h4" routerLink="../item/186"><h4>Carbonara</h4></div>
                    <div class="price">Prezzo : <i class="green"><span class="fa fa-inr"></span>€12</i></div>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    <div class="margin_p3"><a class="order-now">Aggiungi al Carrello</a></div>
                </div>
            </div>
        </div>
        <hr>
        <div class="col-md-6 col-sm-12 col-xs-12">
        	<div class="row content-part-3-inner">
                <div class="col-md-5 col-sm-5 col-xs-12" align="center">
                  <div class="preferiti">
                    <nb-icon style="font-size: 1.7rem;" icon="heart-outline"></nb-icon>
                  </div>
                    <img src="assets/piatti/amatriciana.jpg" class="img-responsive img" alt="Menu Item">
                </div>
                <div class="col-md-7 col-sm-7 col-xs-12">
                    <div class="content-part-3-right-h4"><h4>Amatriciana</h4></div>
                    <div class="price">Prezzo : <i class="green"><span class="fa fa-inr"></span>€11</i></div>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    <div class="margin_p3"><a class="order-now">Aggiungi al Carrello</a></div>
                </div>
            </div>
        </div>
        <hr>
        <div class="col-md-6 col-sm-12 col-xs-12">
        	<div class="row content-part-3-inner">
                <div class="col-md-5 col-sm-5 col-xs-12" align="center">
                  <div class="preferiti">
                    <nb-icon style="font-size: 1.7rem;" icon="heart-outline"></nb-icon>
                  </div>
                    <img src="assets/piatti/cacio-pepe.jpg"  class="img-responsive img" alt="Menu Item">
                </div>
                <div class="col-md-7 col-sm-7 col-xs-12">
                    <div class="content-part-3-right-h4"><h4>Cacio e Pepe</h4></div>
                    <div class="price">Prezzo : <i class="green"><span class="fa fa-inr"></span>€12</i></div>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    <div class="margin_p3"><a class="order-now">Aggiungi al Carrello</a></div>
                </div>
            </div>
        </div>
        <hr>
        <div class="col-md-6 col-sm-12 col-xs-12">
        	<div class="row content-part-3-inner">
                <div class="col-md-5 col-sm-5 col-xs-12" align="center">
                  <div class="preferiti">
                    <nb-icon style="font-size: 1.7rem;" icon="heart-outline"></nb-icon>
                  </div>
                    <img src="assets/piatti/vongole.jpg" class="img-responsive img" alt="Menu Item">
                </div>
                <div class="col-md-7 col-sm-7 col-xs-12">
                    <div class="content-part-3-right-h4"><h4>Spaghetti alle Vongole</h4></div>
                    <div class="price">Prezzo : <i class="green"><span class="fa fa-inr"></span>€15</i></div>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    <div class="margin_p3"><a class="order-now">Aggiungi al Carrello</a></div>
                </div>
            </div>
        </div> 
    </div>
</div> -->