nb-layout-footer nav {
    background-color: #18191c !important;
    position: fixed;
    width: 100%;
    bottom: 0;
}

nb-layout-footer nav a {
    text-decoration: none !important;
}

nb-layout > div.scrollable-container{
    overflow-y: unset !important;
}