<div class="title">
    <h2>Carrello</h2>
</div>
<div class="items" style="margin-top: 1rem;">
    <main class="grid scrolling-wrapper">
        <article style="position: relative;">
            <button nbButton hero status="control" style="border-radius: 50%; right:5px; top:5px; box-shadow: 2px 2px 6px 0px #0000004d; position: absolute; color:red;"><nb-icon icon="close-outline"></nb-icon></button>
            <img src="assets/piatti/caprese.jpg" routerLink="../item/186" alt="Sample photo">
            <div class="text">
                <h3 style="font-size:1rem;">Caprese</h3>
                <p style="font-size: 2rem;">$6</p>
            </div>
            <div class="plusminus horiz">
                <button *ngIf="valueprod1==1" disabled></button>
                <button *ngIf="valueprod1>1" (click)="minusQuantity(valueprod1)"></button>
                <input type="number" name="productQty" [value]="valueprod1" min="1" max="10">
                <button (click)="plusQuantity(valueprod1)"></button>
            </div>
        </article>
        <article style="position: relative;">
            <button nbButton hero status="control" style="border-radius: 50%; right:5px; top:5px; box-shadow: 2px 2px 6px 0px #0000004d; position: absolute; color:red;"><nb-icon icon="close-outline"></nb-icon></button>
            <img src="assets/piatti/amatriciana.jpg" routerLink="../item/186" alt="Sample photo">
            <div class="text">
                <h3 style="font-size:1rem;">Spaghetti alla Amatriciana</h3>
                <p style="font-size: 2rem;">$11</p>
            </div>
            <div class="plusminus horiz">
                <button></button>
                <input type="number" name="productQty" value="1" min="1" max="10">
                <button></button>
            </div>
        </article>
        <!-- <article style="position: relative;">
            <button nbButton hero status="control" style="border-radius: 50%; right:5px; top:5px; box-shadow: 2px 2px 6px 0px #0000004d; position: absolute; color:red;"><nb-icon icon="close-outline"></nb-icon></button>
            <img src="assets/piatti/vongole.jpg" routerLink="../item/186" alt="Sample photo">
            <div class="text">
                <h3 style="font-size:1rem;">Spaghetti alle Vongole</h3>
                <p style="font-size: 2rem;">$15</p>
            </div>
            <div class="plusminus horiz">
                <button></button>
                <input type="number" name="productQty" value="1" min="1" max="10">
                <button></button>
            </div>
        </article> -->
    </main>
</div>
<div class="total" style="margin-top: 1rem;">
    <nb-card>
        <div class="form-row" style="margin-top: 1rem;">
            <div class="form-group col-6">
                <span style="padding: 0rem 1rem;"> <b>Subtotal:</b>  </span>
            </div>
            <div class="form-group col-6">
                <span style="float: right; margin-right: 2rem;"> $17</span>
            </div>
        </div>
        <hr>
        <div class="form-row">
            <div class="form-group col-6">
                <span style="padding: 0rem 1rem;"> <b>TOTAL:</b>  </span>
            </div>
            <div class="form-group col-6">
                <span style="float: right; margin-right: 2rem;"> $20</span>
            </div>
        </div>
    </nb-card>
</div>






<!-- 
<div>
    <ul style="padding: 0">
        <li class="row">
            <input type="number" id="quantity" name="quantity" min="1" max="10" value="1">
            <span class="itemName">Birthday Cake</span>
            <span class="popbtn" data-parent="#asd" data-toggle="collapse" data-target="#demo"><nb-icon icon="close-outline"></nb-icon></span>
            <span class="price">$49.95</span>
        </li>
        <li class="row">
            <span class="quantity">50</span>
            <span class="itemName">Party Cups</span>
            <span class="popbtn" data-parent="#asd" data-toggle="collapse" data-target="#demo"><nb-icon icon="close-outline"></nb-icon></span>
            <span class="price">$5.00</span>
        </li>
        <li class="row">
            <span class="quantity">20</span>
            <span class="itemName">Beer kegs</span>
            <span class="popbtn" data-parent="#asd" data-toggle="collapse" data-target="#demo"><nb-icon icon="close-outline"></nb-icon></span>
            <span class="price">$919.99</span>
        </li>
        <li class="row">
            <span class="quantity">18</span>
            <span class="itemName">Pound of beef</span>
            <span class="popbtn" data-parent="#asd" data-toggle="collapse" data-target="#demo"><nb-icon icon="close-outline"></nb-icon></span>
            <span class="price">$269.45</span>
        </li>
        <li class="row">
            <span class="quantity">1</span>
            <span class="itemName">Bullet-proof vest</span>
            <span class="popbtn" data-parent="#asd" data-toggle="collapse" data-target="#demo"><nb-icon icon="close-outline"></nb-icon></span>
            <span class="price">$450.00</span>
        </li>
        <li class="row totals">
            <span class="itemName">Total:</span>
            <span class="price">$1694.43</span>
            <span class="order"> <a class="text-center">ORDER</a></span>
        </li>
    </ul>
</div>

<div id="popover" style="display: none">
    <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
    <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
</div> -->