<nb-card style="width: fit-content; margin:auto;">
    <nb-card-body style="padding: unset;">
        <div class="img" style="text-align: center;">
            <img src="assets/piatti/carbonara.jpg" class="img-fluid" alt="Menu Item">
        </div>
    </nb-card-body>
</nb-card>
<div class="titolo">
    <div class="row">
        <h3 style="margin: auto; text-align: center;">Spaghetti alla Carbonara</h3>
    </div>    
</div>
<div class="desc" style="text-align: center;">
    <span>La pasta alla carbonara è un piatto caratteristico del Lazio, e più in particolare di Roma, preparato con ingredienti popolari e dal gusto intenso. I tipi di pasta tradizionalmente più usati sono gli spaghetti e i rigatoni.</span>
</div>
<hr>
<div class="ingredients">
    <h4>Ingredienti</h4>
    <nb-list>
        <nb-list-item>
            <div class="col-9">
               <li>Spaghetti</li> 
            </div>
            <div class="col-3">
                <nb-toggle disabled style="float: right;" [checked]="true"></nb-toggle>
            </div>
        </nb-list-item>
        <nb-list-item>
            <div class="col-9">
                <li>Guanciale</li>
            </div>
            <div class="col-3">
                <nb-toggle style="float: right;" [checked]="true"></nb-toggle>
            </div>
        </nb-list-item>
        <nb-list-item>
            <div class="col-9">
                <li>Tuorli di uova medie</li>
            </div>
            <div class="col-3">
                <nb-toggle style="float: right;" [checked]="true"></nb-toggle>
            </div>
        </nb-list-item>
        <nb-list-item>
            <div class="col-9">
                <li>Pecorino romano</li>
            </div>
            <div class="col-3">
                <nb-toggle style="float: right;" [checked]="true"></nb-toggle>
            </div>
        </nb-list-item>
        <nb-list-item>
            <div class="col-9">
                <li>Pepe Nero</li>
            </div>
            <div class="col-3"> 
                <nb-toggle style="float: right;" [checked]="true"></nb-toggle>
            </div>
        </nb-list-item>
      </nb-list>
</div>
<div class="cart" style="text-align: center;">
    <div class="margin_p3"><a class="order-now">Aggiungi al Carrello</a></div>
</div>