nb-card {
    box-shadow: 0 0.5rem 1rem 0 #2c33491a;
}

.col-3 {
    text-align: center;
}

.margin_p3{ margin:10px 0px 5px;}
.order-now{ color:#FFF !important; background:#7db549; padding:5px 15px; border-radius:2px; text-decoration:none; margin:5px auto;}
.order-now:hover{background:#689242;}